# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
dist/
build/

# Переменные окружения и пароли
.env
.env.*

# IDE и ОС
.idea/
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
